{% load static %}
<footer class="text-center p-2">
    <br>
    <p class="d-block m-0">MusicPro | <small>© Copyrigth Derechos Reservados</small></p>
    <p class="d-block m-0"><small>Alvaro Arenas - Felipe Barros - Romina Poblete - Osvaldo Venegas</small></p>
    <br>
    <p>
        <small>
            <a href="/administracion/" class="m-3" style="color:white">Administrador</a>
        </small>
    </p>
    <figure class="figure-img">
        <a href="#"><img src="{% static 'img/logoFacebook.png' %}" alt="logo facebook" class="logoFooter img-fluid me-1 ms-1 me-md-3"/></a>
        <a href="#"><img src="{% static 'img/logoInstagram.png' %}" alt="logo instagram" class="logoFooter img-fluid me-1 ms-1 me-md-3 ms-md-3"/></a>
        <a href="#"><img src="{% static 'img/logoTwitter.png' %}" alt="logo twitter" class="logoFooter img-fluid me-1 ms-1 ms-md-3"/></a>
    </figure>
</footer>