<!DOCTYPE html>
<html lang="es">
<head>
	{% load static %}
	{% load humanize %}	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MusicPro - Productos</title>
	<link href="{% static 'img/favicon.png' %}" rel="icon" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
	<link rel="stylesheet" href="{% static 'css/galeria.css' %}">
</head>
<body>
	<div class="container-fluid p-0" style="background-color:crimson;">
		<div class="container-sm pb-0 pt-0 pe-0 ps-0 pe-lg-3 ps-lg-3 pb-sm-3">
			{% include 'common/navbar.html' %}
			<br>
			<div class="container-fluid mt-1 mt-lg-2 text-light" style="box-shadow: 1px 0px 4px 2px black; background: linear-gradient(to top,  crimson 40%, grey 90% 60%)">
				<h1 class="text-center text-light mt-2 pt-2 mt-lg-2 pt-lg-4">Nuestros productos</h1>
				<hr>
				<p style="font-size: medium;">{{request.GET.uno}} {% if request.GET.uno %}>{% endif %} {{request.GET.dos}} {% if request.GET.dos %}>{% endif %} {{request.GET.tres}}</p>
				<div class="container">
					<div class="w-50 w-md-25 bg-light text-dark rounded p-3 ms-4 filtros">
					<h3>Filtros</h3>
					{% if request.GET.dos %}

						{% for macro, mids in navbarprods.items %}
							{% for mid, micros  in mids.items %}
								{% if request.GET.dos == mid %}
									{% for micro in micros %}
									<p onclick="addParamTres('{{micro}}')" class="filtro">- {{micro}}</p>
									{% endfor %}
								{% endif %}
							{% endfor %}
						{% endfor %}
						<button class="btn-primary btn btnfiltro mt-3 ms-2" onclick="eliminarFiltro()">Eliminar filtros</button>
						<button class="btn-primary btn btnfiltro mt-3 ms-2" onclick="eliminarUltimoFiltro()">Volver</button>
					{% elif request.GET.uno %}
					
						{% for macro, mids in navbarprods.items %}
							{% if request.GET.uno == macro %}
								{% for mid in mids %}
								<p onclick="addParamDos('{{mid}}')" class="filtro">- {{mid}}</p>
								{% endfor %}
							{% endif %}
						{% endfor %}
						<button class="btn-primary btn btnfiltro mt-3 ms-2" onclick="eliminarFiltro()">Eliminar filtros</button>
						<button class="btn-primary btn btnfiltro mt-3 ms-2" onclick="eliminarUltimoFiltro()">Volver</button>
					{% else %}

						{% for macro, mids in navbarprods.items %}
							<p onclick="addParamUno('{{macro}}')" class="filtro">- {{macro}}</p>
						{% endfor %}
						<button class="btn-primary btn btnfiltro mt-3 ms-2" onclick="eliminarFiltro()">Eliminar filtros</button>
						<button class="btn-primary btn btnfiltro mt-3 ms-2" onclick="eliminarUltimoFiltro()">Volver</button>
					{% endif %}
				</div>

					<select class="form-select ms-4 mt-3 w-25" id="selectorCurrency">
						<option selected="true" disabled="disabled">Seleccione una moneda</option>
						{% for key, value in currencies.items %}
						<option value="{{key}}">{{key}}</option>
						{% endfor %}
					</select>

					<div class="row">
						{% for producto in productos %}
						<div class="col-6 col-md-6 col-lg-4 mb-4 mt-4">
							<div class="imgcontainer me-1 ms-1 me-md-4 ms-md-4" onclick="abrirModal('{{producto.pk}}')">
								<fig class="figimg">
									<img src="{{producto.imagen.url}}" alt="imagen producto" class="galeriaImg">
								</fig>
								<div class="overlay">
								</div>
								<div class="thumb">
									<div class="anim">
										<div class="title">{{producto.nombre}}</div>
										<div class="desc">{{producto.desc}}</div>
									</div>
									<div class="author">
										{% if currency != "CLP" %}
										${{producto.precio|floatformat:"2"|intcomma}} {{currency}}
										{% else %}
										${{producto.precio|floatformat:"0"|intcomma}} {{currency}}
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						{% empty %}
						<div class="bg-warning text-center rounded-pill mt-5 me-4 ms-4">
							<h1>¡Lo sentimos!</h1>
							<p>
								No hemos podido encontrar ningún producto.
								<br>
								Prueba visitando nuestro <a href="/galeria/">catálogo completo.</a>
							</p>
						</div>
						{% endfor %}

						
					</div>

				</div>
				<br><br><br>
				{% include 'common/footer.html' %}
			</div>
		</div>
	</div>
	<div class="offcanvas offcanvas-start"  tabindex="-1" id="offcanvasCarrito" aria-labelledby="offcanvasCarritoLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasCarritoLabel">Mi Carrito</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="container">
				<div class="row">
					{% include "carro/widget.html" %}
				</div>
		  	</div>
		</div>
	</div>

	{% for producto in productos %}
	<div class="modal" tabindex="-1" id="{{producto.pk}}">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">{{producto.nombre}}</h5>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			  <p>{{producto.desc}}</p>
			</div>
			<div class="modal-footer">
			  <a href="{% url 'carro:agregar' producto.pk %}" type="button" class="btn btn-primary">Añadir al carrito</a>
			</div>
		  </div>
		</div>
	</div>
	{% endfor %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="{% static 'js/galeria.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
</body>
</html>