<!DOCTYPE html>
<html lang="es">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/estilo.css' %}"/> 
	<link rel="stylesheet" href="{% static 'css/fadein.css' %}"/> 
	<link rel="stylesheet" href="{% static 'css/login.css' %}"/>
	<link href="{% static 'img/favicon.png' %}" rel="icon" type="image/x-icon" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>MusicPro - Seguimiento</title>
	<!--TODO: Meta tags//Mecanismos de posicionamiento en buscador-->
	<style>
		#changewidth {
			width: 50%;
		}
		@media (max-width: 990px) {
			#changewidth {
				width: 100%;
			}
		}
	</style>
</head>
<body>
	<div class="container-fluid p-0" >
        <div class="container-sm pb-0 pt-0 pe-0 ps-0 pe-lg-3 ps-lg-3 pb-sm-3">
            {% include 'common/navbar.html' %}	
			<br><br><br><br>
            <div class="container-fluid mt-1 mt-lg-2 text-light d-flex justify-content-center"> 
				<div class="container-sm justify-content-center bg-dark rounded-pill p-5 text-center" id="changewidth">
					<center>
					{% if not is_loged %}
					<div class="d-flex align-self-center text-center justify-content-center">
						<p class="d-flex align-self-center text-center mt-3 pt-3 pb-3 ps-3 pe-3 rounded-pill" style="background-color: crimson; color: white;">Debes iniciar sesión para poder ver el seguimiento.</p>
					</div>
					{% else %}
						{% if boletas %}
						<h1 class="underline"><u>Seguimiento</u></h1>
						<label for="Boleta">Seleccione un numero de orden:</label>
						<select name="Boleta" id="Boleta" class="form-control form-select w-25 align-self-center m-4">
							<option disabled selected value> Orden </option>
							{% for key, value in boletas.items %}
							<option value="{{key}}">{{key}}</option>
							{% endfor %}
						</select>
						<h4>Estado del pedido: <span id="estado_pedido"></span></h4>
						<h4>Fecha compra: <span id="fecha_pedido"></span></h4>
						<h4>Fecha despacho: <span id="fecha_despacho"></span></h4>
						<h4>Fecha entrega: <span id="fecha_entrega"></span></h4>
						{% else %}
						<h4 class="alert-danger p-5 rounded-pill">
							Usted no posee ninguna compra hasta el momento.
							<br>
							Para realizar una compra visite <a href="/galeria/">nuestro cat&aacute;logo.</a>
						</h4>
						{% endif %}
					{% endif %}
					</center>
				</div>
            </div>
        </div>
		{% include 'common/footer.html' %}
    </div>
	<div class="offcanvas offcanvas-start"  tabindex="-1" id="offcanvasCarrito" aria-labelledby="offcanvasCarritoLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasCarritoLabel">Mi Carrito</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="container">
				<div class="row">
					{% include "carro/widget.html" %}
				</div>
		  	</div>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$('[data-toggle="popover"]').popover();   
	});
</script>
<script src="{% static 'js/common.js' %}"></script>
<script>
	$(document).ready(function() {
		$('#Boleta').change(function() {
			$.ajax({
				url: '/get/boleta/' + $('#Boleta').val(),
				type: 'GET',
				success: function(data) {
					$('#estado_pedido').html(data.estado);
					$('#fecha_pedido').html(data.fecha);
					$('#fecha_despacho').html(data.fecha_despacho);
					$('#fecha_entrega').html(data.fecha_entrega);
				},
				error: function() {

				}
			});
		});
	});
</script>
</body>
</html>